# Development/Production
/target
.venv/
Cargo.lock
.cargo
node_modules
.vscode/
package-lock.json
merge.py
# Environment variables (secrets)
config.dev.toml
config.prod.toml
config.testnet.toml
config.toml
.env

# DB
*.db
*.db-shm
*.db-wal
.DS_Store

# Frontend

