[package]
name = "oxidity-builder"
version = "0.1.1-delta"
edition = "2024"
authors = ["oxidity.io | John Hauger Mitander"]
description = "Oxidity - MEV Searcher"
homepage = "https://build.oxidity.io/"
repository = "https://github.com/John0n1/oxidity-builder"
license = "MIT"

[dependencies]
# Async Runtime
tokio = { version = "1.35", features = ["full"] }

# Serialization (PINNED to fix build error)
serde = { version = "=1.0.228", features = ["derive"] }
serde_json = "1.0.149"
config = "0.15.19"
dotenvy = "0.15"

# Logging
tracing = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter", "json", "fmt", "registry", "parking_lot"] }

# Error Handling
thiserror = "2.0.18"
anyhow = "1.0"

# --- ETHEREUM (ALLOY STABLE) ---
# We use 0.9.2 for stability.
alloy = { version = "1.4.3", features = ["full", "node-bindings", "serde"] }
alloy-consensus = { version = "1.4.3", features = ["serde"] } 
alloy-primitives = { version = "1.5.2", features = ["serde"] } 
alloy-json-abi = "1.5.2" 
alloy-sol-types = { version = "1.5.2"}
alloy-rpc-client = "1.5.2"

# --- DATA ---
sqlx = { version = "0.8.6", features = ["runtime-tokio-native-tls", "sqlite", "macros", "chrono"] }
chrono = { version = "0.4.43", features = ["serde"] }

# --- PHASE 4 DEPENDENCIES ---
# Concurrency & Streams
dashmap = "6.1.0" # Concurrent HashMap
futures = "0.3" 

# Network
reqwest = { version = "0.13.1", features = ["json", "stream"] }
async-trait = "0.1"

# Utils
lazy_static = "1.4"
url = "2.5"
hex = "0.4"

# CLI
clap = { version = "4.5", features = ["derive"] }
crypto-common = "0.1.7"


[package.metadata.deb]
name = "oxidity-builder"
version = "0.1.1-delta"
maintainer = "oxidity.com | John Hauger Mitander"
description = "Oxidity MEV Searcher"
homepage = "https://build.oxidity.com/"
depends = "$auto"
section = "net"
priority = "optional"

assets = [
  ["target/release/oxidity-builder", "usr/bin/", "755"],
  ["README.md", "usr/share/doc/oxidity-builder/README.md", "644"],
]

[package.metadata.wix]
product-name = "oxidity-builder"
manufacturer = "oxidity.com <john@oxidity.com"
upgrade-guid = "00700700-7007-4007-8007-007007007007"
path-guid = "0B00B1E5-0F5E-4007-9007-00C0FFEEBEEF"
product-icon = "docs/logo/oxidity_logo.ico"
banner = "docs/logo/oxidity_logo_1024.png"
dialog = "docs/logo/oxidity_logo_1024.png"
help-url = "https://builder.oxidity.com/help"
license = true
eula = true
