VITE_WALLET_API_BASE="/api"
VITE_WALLET_SUPPORT_EMAIL="support@oxidity.io"
VITE_WALLET_DOWNLOAD_EXTENSION_URL="https://wallet.oxidity.io/downloads/oxidity-wallet-extension.zip"
VITE_WALLET_DOWNLOAD_ANDROID_URL="https://wallet.oxidity.io/downloads/oxidity-wallet-debug.apk"
